altgraph==0.17.2
autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
decorator==4.4.2
find-libpython==0.2.0
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
macholib==1.16
modulegraph==0.19.2
moviepy==1.0.3
numpy==1.22.3
opencv-python==4.5.5.64
Pillow==9.0.1
polyline==1.4.0
proglog==0.1.9
py2app==0.28
pycodestyle==2.8.0
pynvim==0.4.3
PySimpleGUI==4.57.0
requests==2.27.1
reverse-geocoder==1.5.1
scipy==1.8.0
six==1.16.0
toml==0.10.2
tqdm==4.63.0
urllib3==1.26.9
